In [28]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
train_data.shape

(1460, 81)

In [6]:
test_data.shape

(1459, 80)

In [7]:
TrainDataWithNumber = train_data.select_dtypes(include=[np.number])
TestDataWithNumber = test_data.select_dtypes(include=[np.number])

In [8]:
TrainDataWithNumber.head();
TestDataWithNumber.head();

In [9]:
TrainDataWithNumber.shape

(1460, 38)

In [10]:
TestDataWithNumber.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,730.0,140,0,0,0,120,0,0,6,2010
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,312.0,393,36,0,0,0,0,12500,6,2010
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,482.0,212,34,0,0,0,0,0,3,2010
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,470.0,360,36,0,0,0,0,0,6,2010
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,506.0,0,82,0,0,144,0,0,1,2010

In [11]:
TrainDataWithNumber.fillna(0,axis=1);
indicesToKeep = ~TrainDataWithNumber.isin([np.nan, np.inf, -np.inf]).any(1)
TrainDataWithNumber = TrainDataWithNumber[indicesToKeep].astype(np.float64)

In [12]:
TestDataWithNumber.fillna(0,axis=1);
indicesToKeep = ~TestDataWithNumber.isin([np.nan, np.inf, -np.inf]).any(1)
TestDataWithNumber = TestDataWithNumber[indicesToKeep].astype(np.float64)

In [13]:
TrainDataWithNumber.shape

(1121, 38)

In [14]:
TestDataWithNumber.head(5)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461.0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,468.0,...,730.0,140.0,0.0,0.0,0.0,120.0,0.0,0.0,6.0,2010.0
1,1462.0,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,923.0,...,312.0,393.0,36.0,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0
2,1463.0,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,791.0,...,482.0,212.0,34.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0
3,1464.0,60.0,78.0,9978.0,6.0,6.0,1998.0,1998.0,20.0,602.0,...,470.0,360.0,36.0,0.0,0.0,0.0,0.0,0.0,6.0,2010.0
4,1465.0,120.0,43.0,5005.0,8.0,5.0,1992.0,1992.0,0.0,263.0,...,506.0,0.0,82.0,0.0,0.0,144.0,0.0,0.0,1.0,2010.0

In [25]:
trainX = TrainDataWithNumber.drop(['SalePrice'], axis=1)
y = np.log1p(TrainDataWithNumber['SalePrice'])

In [21]:
trainX.shape

(1121, 37)

In [26]:
y.shape

(1121,)

In [29]:
X_train,X_test,y_train,y_test = train_test_split(trainX,y,test_size = 0.3,random_state= 0)

In [30]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((784, 37), (337, 37), (784,), (337,))

In [31]:
X_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
122,123.0,20.0,75.0,9464.0,6.0,7.0,1958.0,1958.0,135.0,570.0,...,288.0,0.0,0.0,0.0,0.0,130.0,0.0,0.0,6.0,2008.0
150,151.0,20.0,120.0,10356.0,5.0,6.0,1975.0,1975.0,0.0,716.0,...,440.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2007.0
950,951.0,20.0,60.0,7200.0,5.0,8.0,1950.0,2002.0,0.0,398.0,...,720.0,194.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,2007.0
46,47.0,50.0,48.0,12822.0,7.0,5.0,2003.0,2003.0,0.0,1351.0,...,670.0,168.0,43.0,0.0,0.0,198.0,0.0,0.0,8.0,2009.0
193,194.0,160.0,24.0,2522.0,7.0,5.0,2004.0,2004.0,50.0,0.0,...,380.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,5.0,2006.0

In [33]:
lr = linear_model.LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
lr.score(X_test,y_test)

0.73323696253548287